h1{
    text-align: center;
    color: blueviolet;
} 
body{
    background-color: black;
    background-image: url(/Images/PURPLE\ SERPENT\ STUDIOS\ LOGO\ V2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px 1000px;
} 
#box1{
    background-color:blue;
}
h2{
    text-align: center;
    font-size: xx-large;
    color: white;
}
h3{
    text-align: center;
    font-size: larger;
    color: white;
}
h4{
    text-align: center;
    font-size: large;
    color: white;
}
.rec{
    text-align: center;
    font-size: x-large;
    border: 3px solid silver;
    border-radius: 5px;
    width: 63px;
    height: 27px;
    margin: auto;
}
.mix{
    text-align: center;
    font-size: x-large;
    border: 3px solid silver;
    border-radius: 5px;
    width: 36px;
    height: 27px;
    margin: auto;
}
.deal{
    text-align: center;
    font-size: x-large;
    border: 3px solid silver;
    border-radius: 5px;
    width: 96px;
    height: 27px;
    margin: auto;
}
.qna{
    text-align: center;
    font-size: x-large;
    border: 3px solid silver;
    border-radius: 5px;
    width: 105px;
    height: 27px;
    margin: auto;
}