h1{
    text-align: center;
    color: blueviolet;
} 
body{
    background-color: black;
    background-image: url(/Images/PURPLE\ SERPENT\ STUDIOS\ LOGO\ V2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px 1000px;
} 
h2{
    text-align: center;
    font-size: xx-large;
    color: white;
}
h3{
    text-align: center;
    font-size: larger;
    color: white;
}
h4{
    text-align: center;
    font-size: large;
    color: white;
}
.rec{
    text-align: center;
    font-size: x-large;
    color: white;
}
.mix{
    text-align: center;
    font-size: x-large;
    color: white;
}
.deal{
    text-align: center;
    font-size: x-large;
    color: white;
}
.qna{
    text-align: center;
    font-size: x-large;
    color: white;
}