h1{
    text-align: center;
    color: blueviolet;
} 
body{
    background-color: black;
    background-image: url(/Images/PURPLE\ SERPENT\ STUDIOS\ LOGO\ V2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px 1000px;
}
#box1{
    background-color:blue;
}
.address{
    text-align: center;
    font-size: larger;
    border: 3px solid silver;
    border-radius: 5px;
    width: 363px;
    height: 21px;
    margin: auto;
}
pre{
    text-align: center;
    font-size: x-large;
    color: white;
}
.phone{
    text-align: center;
    font-size: larger;
    border: 3px solid silver;
    border-radius: 5px;
    width: 166px;
    height: 21px;
    margin: auto;
}
.email{
    text-align: center;
    font-size: larger;
    border: 3px solid silver;
    border-radius: 5px;
    width: 264px;
    height: 21px;
    margin: auto;
}
.micpic{
    text-align: center;
}
.instaicon{
    border: 2px solid rgb(3, 62, 255);
    display: flex;
    margin: auto;
    max-width: 300px;
    max-height: 0px;
}
.youicon{
    display: flex;
    margin: auto;
    max-width: 140px;
    max-height: 0px;
}
.faceicon{
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    max-width: 140px;
    max-height: 0px;
}
.treeicon{
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    max-width: 300px;
    max-height: 0px;
}
