h1{
    text-align: center;
    color: blueviolet;
} 
body{
    background-color: black;
    background-image: url(/Images/PURPLE\ SERPENT\ STUDIOS\ LOGO\ V2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px 1000px;
} 
p{
    text-align: center;
    font-size: x-large;
    color: white;
}
.seshbook{
    text-align: center;
    font-size: x-large;
    color: white;
}
.stupic{
    text-align: center;
}
h2{
    text-align: center;
    color: white;
}